#welcomediv{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#myVideo1 {
    position: fixed;
    right: -20%;
    bottom: -20%;
    min-width: 100%;
    min-height: 100%;

}

#startdiv{
    width: 50%;
    height: auto;
    padding: 20px;
    z-index: 2;
    overflow: auto;
    border: 5px solid #BA3B46;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

hr{
    border: 2px dashed #BA3B46;
}

#title{
    font-family: 'Playball', cursive;
    font-size: 50px;
    color: #3D5D8F;
    text-shadow: 1px 1px gray;
    
}

#btn_start{
    width: 100%;
    padding: 10px;
    background-color: #3D5D8F;
    color: white;
    border: none;
    border-radius: 50px;;
    font-weight: bold;
    font-size: 12px;
    cursor:url('baseball.png'),auto;
}

#contentdiv{
    display: none;
    
    
}

#headercontainer{
    width: 100%;
    background-color: #2B436A;
    color: white;
    padding: 10px;
    overflow: hidden;
    border-bottom: 5px solid white;
    z-index: 2;
}

#quizdiv{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}



#myVideo2 {
    position: fixed;
    right: -20%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

}

#questionsdiv{
    width: 50%;
    height: auto;
    padding: 20px;
    z-index: 2;
    overflow: auto;
    border: 5px solid #BA3B46;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#footercontainer {
    position: fixed;
    bottom: 0;
    background-color: #2B436A;
    border-top: 5px solid white;
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    z-index: 2;
  }

.img{
    height: 20px;
    width: auto;
}

#btn_submit{
    width: 100%;
    padding: 10px;
    background-color: #BA3B46;
    color: white;
    border: none;
    border-radius: 50px;;
    font-weight: bold;
    font-size: 12px;
    cursor:url('baseball.png'),auto;
}

#p_question{
    font-size: 15px;
}

.choices{
    width: 100%;
    height: 100px;
    text-align: left;
    border: 1px solid black;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s ease-in;
    
}

.choices:hover{
    background-color: #BA3B46;
    color: white;
}

.radio_btn{
    accent-color: #BA3B46;
}



#btn_restart{
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 600px){
    #startdiv, #questionsdiv{
        width: 80%;
    }


    #p_question, .txt_choice{
        font-size: 10px;
    }
}




